<div class="pHolder" >
	<div class="pOrder" ><%= priorityNo %></div>
	<input class="pInput" placeholder="Type Priority Name"  />
	<div class="pColor"></div>
	<div class="pAddRem addPos"></div>
</div>