<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oauth="http://www.springframework.org/schema/security/oauth"
	xsi:schemaLocation="http://www.springframework.org/schema/security/oauth http://www.springframework.org/schema/security/spring-security-oauth.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


	<http auto-config="false" entry-point-ref="authenticationProcessingFilterEntryPoint" access-denied-page="/auth.action">
		
		<intercept-url pattern="/themes/**" filters="none" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/" filters="none" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/auth.action" filters="none" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/login.action" access="IS_AUTHENTICATED_FULLY" />

		<custom-filter position="PRE_AUTH_FILTER" ref="scrumrPreAuthenticationFilter"/>
		<intercept-url pattern="/api/v1/**" access="IS_AUTHENTICATED_FULLY" />		
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />
		
		<!-- form login -->
		<form-login login-page="/auth.action" login-processing-url="/j_spring_security_check" 
					default-target-url="/home.action" always-use-default-target="true" />
		
		<!-- logout -->
		<logout logout-url="/j_spring_security_logout" logout-success-url="/auth.action"/>
		
			
	</http>
	
	<beans:bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.web.authentication.AuthenticationProcessingFilterEntryPoint">
		<beans:property name="loginFormUrl" value="/auth.action" />
		<beans:property name="forceHttps" value="false" />
	</beans:bean>
	
	<beans:bean id="scrumrPreAuthenticationFilter" class="com.imaginea.scrumr.security.ScrumrPreAuthenticationFilter">
		<beans:property name="qontextUtil" ref="qontextHelperUtil" />
	</beans:bean> 
	
  	<!-- authentication manager -->
	
	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="daoAuthenticationProvider" />
	</authentication-manager>
	
	<beans:bean id="daoAuthenticationProvider" class="com.imaginea.scrumr.security.CustomDaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userServiceManager"/>
	</beans:bean>
	
    <beans:bean id="userServiceManager" name="userAuthenticationProvider" class="com.imaginea.scrumr.security.CustomUserDetailsManagerImpl">
		<beans:property name="genericDao" ref="genericDao" />
  	</beans:bean>
  	
  	<!-- Exception Translator -->
  	
  	<beans:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
  		<beans:property name="authenticationEntryPoint" ref="authenticationProcessingFilterEntryPoint" />
		<beans:property name="accessDeniedHandler">
			<beans:bean class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
				<beans:property name="errorPage" value="/error.jsp" />
			</beans:bean>
		</beans:property>
	</beans:bean>
	
</beans:beans>